.address-mb{
    margin-bottom: 10vh;
    .address-background{
        position: relative;
        overflow: hidden;
        .address-img{
            height: 25vh;
            display: flex;
            align-items: center;
            overflow: hidden;
            img{
                height: 25vh;
                width: 100%;
                object-fit: cover;
            }
        }
    
        .address-shadow{
            opacity: .4;
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgb(19,21,26);
            background: linear-gradient(0deg, 
            rgba(19,21,26,.9) 0%,
            rgba(19,21,26,.4) 80%,
            rgba(19,21,26,.1) 100%);
        }
    }

    .address-info{
        position: relative;
        padding-top: 3vh;
        .address{
            opacity: 0;
        }
        .address-number{
            margin: 0;
            font-size: 3.7rem;
            font-weight: 700;
            line-height: 4.7rem;
            letter-spacing: -3px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
        }
        .address-invitation{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            margin: 0;
            margin-bottom: 9px;
            font-size: 1.1rem;
            line-height: 2rem;
            color: $greylight;
            text-transform: uppercase;
        }
        .address-line{
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            font-size: 1.1rem;
            line-height: 2.5rem;
            text-transform: uppercase;
            color: $white;
        }
    }

    .address-map{
        position: relative;
        width: 100vw;
        display: flex;
        align-items: center;
        .map-box{
            position: absolute;
            height: 150vw;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .map{
                opacity: .2;
                width: 150vw;
                transform: translateX(-15%);
            }
            .shadow{
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgb(19,21,26);
                background: linear-gradient(0deg, 
                rgba(19,21,26,1) 0%,
                rgba(19,21,26,.99) 20%,
                rgba(19,21,26,.4) 50%,
                rgba(19,21,26,.98) 85%,
                rgba(19,21,26,1) 100%);
            }
        }
    }
}